<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup> 
  <appSettings>
    <!--LOGGING-->
    <add key="log4net.Config" value="Logging.Config"/>
    <add key="log4net.Config.Watch" value="True"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
