<?xml version="1.0"?>
<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <log4net>
    
    <appender name="TraceFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\DSSelfApi.trace.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1" />
      <CountDirection value="1" />
      <maximumFileSize value="40MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger EternaPostareLocalApp %P{log4net:HostName} - %message%newline%exception"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="TraceFileAppender" />
    </root>
  </log4net>
</configuration>
